# Dependencies
node_modules/
Backend/node_modules/
Frontend/node_modules/

# Environment variables
.env
Backend/.env
Frontend/.env

# Build files
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db